/*导航栏文字颜色过渡动画*/
@keyframes navbarColor {
    from{
        color: #777;
    }
    to{
        color: #41b883;
    }
}

/*首页按钮过渡动画*/
@keyframes btnAnimation {
    from{
        color: #41b883;
    }
    to{
        color: #2c9767;
    }
}

@font-face {
    font-family: "raleway";
    src: url(../fonts/raleway_thin.otf);
}

/*********************** 全局样式 ************************/

body,button, input, select, textarea {
    font-family: raleway,"幼圆";
    font-weight: bolder;
}

h1 ,h2, h3, h4, h5, h6 {
    font-family: raleway,"幼圆";
}

a {
    color: #48d696;
}

a:hover {
    color: #41b883;
}

/*********************** navbar ************************/

.navbar {
    background: transparent;
}

.navbar .nav > li > a:hover {
    animation: navbarColor 0.5s;
    color: #41b883;
}

/*********************** home ************************/

.home {
    height: 100vh;
    min-height: 300px;
    background: url(../images/the-phope-537400-unsplash.jpg);
    background-position: center bottom;
    background-size: cover;
}

.center-vertical{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.hello {
    font-size: 100px;
}

.home > h1 > p {
    color: #41b883;
    font-family: raleway;
    font-weight: normal;
    font-size: 22px;
}

.home > h1 > button {
    background: transparent;
    color: #41b883;
    width: 80px;
    height: 80px;
    border: none;
    border-radius: 50%;
    outline: none;
}

.home > h1 > button:hover {
    animation: btnAnimation 0.5s;
    /* background: #41b883; */
    color: #2c9767;
}

@media (min-width: 768px) {
    .home > h1 > p {
        font-size: 50px;
    }

    .hello {
        font-size: 200px;
    }

    /* .home > h1 > button {
        border: 1px solid #41b883;
    } */
}

/*********************** portfolio ************************/

.portfolio {
    padding: 50px 10px;
}

.portfolio > h2 {
    color: #777;
}

.portfolio > hr {
    width: 200px;
    margin-bottom: 30px;
}

.portfolio > ul{
    padding: 0;
    list-style: none;
}

.portfolio > ul > li {
    padding: 10px;
    background: #fff;
}

.portfolio > ul > li > a {
    display: block;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-decoration: none;
}

.portfolio > ul > li > a > img {
    width: 100%;
    border: 1px solid #eee;
}

.portfolio > ul > li > a > .text {
    margin-left: 10px;
}

.portfolio > ul > li > a > p {
    color: #777;
}

/*********************** contact ************************/

.contact {
    border-top: 1px solid #eee;
    padding: 30px;
}

.contact-icon {
    margin: 20px 0 10px;
}

.contact-icon > a {
    margin: 0 10px;
    text-decoration: none;
}

.contact-icon > a > svg {
    width: 35px;
}